# dependecies installed by npm/yarn
node_modules
web_modules

# build artefacts
_build
dist

# secrets
.env

# logs
*.log
report.html

# macOS related files
.DS_Store

# version manager
.tool-versions

# Local Netlify folder
.netlify

.dccache

.vscode

.DS_Store
.idea
.fseventsd
[Dd]esktop.ini
yarn-debug.log*
yarn-error.log*
