:root {
    font-size: 93.75%;

    @media (min-width: 512px) {
        font-size: 100%;
    }

    @media (min-width: 768px) {
        font-size: 106.25%;
    }

    @media (min-width: 1024px) {
        font-size: 112.5%;
    }

    @media (min-width: 1280px) {
        font-size: 118.75%;
    }

    @media (min-width: 1536px) {
        font-size: 125%;
    }

    &.nojs {
        & [id^='js'] {
            display: none !important;
        }
    }
}

.container {
    @media (min-width: 512px) {
        max-width: 94%;
    }

    @media (min-width: 1024px) {
        max-width: 88%;
    }

    @media (min-width: 1920px) {
        max-width: 1680px;
    }
}

[disabled] {
    pointer-events: none;
}

.js {
    & .loading {
        opacity: 0;
    }

    & .loaded {
        opacity: 1;
    }
}

#site_header {
    transform: translate3d(-50%, 0, 0);

    &::before {
        z-index: -1;
    }
}

body {
    &:after {
        background: linear-gradient(
            0deg,
            rgb(203, 213, 225) 0%,
            rgba(203, 213, 225, 0) 100%
        );

        pointer-events: none;
    }
}

.dark {
    & body {
        &:after {
            background: linear-gradient(
                0deg,
                rgb(51, 65, 85) 0%,
                rgba(51, 65, 85, 0) 100%
            );
        }
    }
}

#features {
    grid-template-columns: 3rem 1fr;

    & h3 {
        &::after {
            width: 10vw;
            max-width: 8rem;
        }
    }
}

#sidebar {
    width: calc(100% - 2rem);
    height: calc(100% + 12rem + 4rem);
    margin-top: -12rem;

    transform: translate3d(-10vw, 0, 0);
    opacity: 0;

    pointer-events: none;

    @media screen and (min-width: 512px) {
        width: calc(50% - 2.25rem);
    }

    @media screen and (min-width: 768px) {
        width: calc(50% - 2.5rem);
    }

    @media screen and (min-width: 1024px) {
        width: calc((100% / 3) - (7rem / 3));
    }

    @media screen and (min-width: 1280px) {
        width: calc((100% / 4) - (10rem / 4));
    }

    @media screen and (min-width: 1536px) {
        width: calc((100% / 5) - (12rem / 5));
    }

    @media screen and (min-width: 1920px) {
        width: calc((100% / 6) - (14rem / 6));
    }

    &.fade-in {
        transform: translate3d(0, 0, 0);
        opacity: 1;

        pointer-events: initial;
    }

    &::before {
        z-index: -1;
    }
}

#sidebar-toggle {
    @media (min-width: 512px) {
        left: calc((2vw + 14rem + 1.5rem) - 4rem);
    }

    @media (min-width: 768px) {
        left: calc((3vw + 14rem + 2rem) - 4rem);
    }

    @media (min-width: 1024px) {
        left: calc((4vw + 14rem + 2.5rem) - 4rem);
    }

    @media (min-width: 1280px) {
        left: calc((5vw + 14rem + 3rem) - 4rem);
    }

    @media (min-width: 1536px) {
        left: calc((6vw + 14rem + 3.5rem) - 4rem);
    }

    @media (min-width: 1920px) {
        left: calc((50vw - (1680px / 2)) + 3.5rem + 14rem - 4rem);
    }

    & .open {
        display: flex;
    }

    & .close {
        display: none;
    }

    &.active {
        & .open {
            display: none;
        }

        & .close {
            display: flex;
        }
    }
}

#avatar {
    & picture {
        border-width: 0.5rem;
    }
}

.is-login,
.is-register {
    & label {
        position: relative;

        & input:not([type='checkbox']) {
            & + span {
                position: absolute;

                top: 2rem;
                left: 0.5rem;
                z-index: 10;

                display: block;

                width: calc(100% - 1rem);

                padding: 0.25rem;

                font-size: 0.75rem;
                font-style: italic;

                background-color: rgba(255, 255, 255, 0.75);
                border-radius: 0.125rem;
                opacity: 0;

                transition: opacity 0.5s ease-in-out;
                transition-delay: 0.5s;

                pointer-events: none;
            }

            &::placeholder {
                opacity: 1;

                transition: opacity 0.5s ease-in-out;
            }

            &::-webkit-input-placeholder {
                opacity: 1;

                transition: opacity 0.5s ease-in-out;
            }

            &:-ms-input-placeholder {
                opacity: 1;

                transition: opacity 0.5s ease-in-out;
            }

            &:not(:placeholder-shown),
            &:focus {
                & + span {
                    opacity: 1;
                }
            }

            &:focus {
                &::placeholder {
                    opacity: 0;
                }

                &::-webkit-input-placeholder {
                    opacity: 0;
                }

                &:-ms-input-placeholder {
                    opacity: 0;
                }
            }

            &:not(:placeholder-shown) {
                &:not(:focus) {
                    &:valid {
                        border-color: rgba(22, 163, 74, 0.5);
                        box-shadow: 0 0 0 0.125rem rgba(22, 163, 74, 0.5);

                        & + span {
                            opacity: 0;
                        }
                    }

                    &:invalid {
                        border-color: rgb(220, 38, 38);
                        box-shadow: 0 0 0 0.125rem rgb(220, 38, 38);

                        & + span {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

#hero {
    background-image: url('/media/images/home/hero.jpg');
    background-blend-mode: luminosity;
}

.live::before {
    margin-right: 0.5rem;

    color: rgb(220, 38, 38);
    font-weight: bold;
    font-size: 2rem;
    line-height: 0.5625;

    content: '•';
}

#sidebar div {
    @media screen and (min-height: 48rem) {
        position: sticky;
        top: 4rem;
    }
}

#filter div {
    position: static;

    @media screen and (min-height: 36rem) {
        position: sticky;
    }
}
