@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 93.75%;

    @media (min-width: 512px) {
        font-size: clamp(100%, calc(90% + 0.33vw), 125%);
    }

    transition: font-size 0.25s;

    &.debug-screens {
        &::before,
        &::after {
            @apply fixed left-0 z-50 px-2 py-1 font-sans text-xs leading-none text-white bg-black shadow-sm;
        }

        &::before {
            bottom: 0;
        }

        &::after {
            bottom: 1.3333333rem;

            content: 'light';
        }

        &.dark {
            &::after {
                content: 'dark';
            }
        }
    }
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;

    transition: max-width 0.25s, padding-right 0.25s, padding-left 0.25s;

    @media (min-width: 512px) {
        max-width: 96%;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    @media (min-width: 768px) {
        max-width: 94%;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    @media (min-width: 1024px) {
        max-width: 92%;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }

    @media (min-width: 1280px) {
        max-width: 90%;
        padding-right: 3rem;
        padding-left: 3rem;
    }

    @media (min-width: 1536px) {
        max-width: 88%;
        padding-right: 3.5rem;
        padding-left: 3.5rem;
    }

    @media (min-width: 1920px) {
        max-width: 1680px;
    }
}

[disabled] {
    opacity: 0.85;

    pointer-events: none;
}

.nojs {
    [id^='js'] {
        display: none !important;
    }
}

.js {
    .fade {
        transition: opacity 0.5s;
    }

    .loading {
        opacity: 0;
    }

    .loaded {
        opacity: 1;
    }
}

#site_header {
    &::before {
        @apply bg-gray-100 border-gray-100 shadow dark:bg-gray-900 dark:border-gray-900;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        display: block;

        width: 100%;
        height: calc(4rem + 2px);

        content: '';
    }
}

body {
    &:before {
        position: fixed;
        top: -75vw;
        left: -50vw;
        z-index: -2;

        display: block;
        width: 150%;
        height: 150vw;

        background-image: radial-gradient(
            rgb(3, 105, 161) 0,
            rgb(203, 213, 225) 70%
        );
        background-position: bottom center;

        content: '';
        pointer-events: none;
    }

    &:after {
        position: fixed;
        bottom: 0;
        z-index: 10;

        width: 100%;
        height: 4rem;

        background: linear-gradient(
            0deg,
            rgb(203, 213, 225) 0%,
            rgba(203, 213, 225, 0.5) 45%,
            rgba(203, 213, 225, 0) 100%
        );

        content: '';
        pointer-events: none;
    }
}

.dark {
    body {
        &:before {
            background-image: radial-gradient(
                rgb(2, 132, 199) 0,
                rgb(51, 65, 85) 70%
            );
        }

        &:after {
            background: linear-gradient(
                0deg,
                rgb(51, 65, 85) 0%,
                rgba(51, 65, 85, 0.5) 45%,
                rgba(51, 65, 85, 0) 100%
            );
        }
    }
}

#features {
    grid-template-rows: auto;
    grid-template-columns: 3rem 1fr;
}

#sidebar {
    position: fixed;
    top: calc(4rem + 2px);
    z-index: 20;

    width: 14rem;
    height: calc(100vh - 4rem - 2px);
    min-height: 32rem;

    transform: translateX(-14rem);
    opacity: 0;

    transition: ease-in-out 0.5s;

    @apply bg-white dark:bg-black;

    &::before {
        position: absolute;
        right: 100%;

        display: block;
        width: 100%;
        height: 100%;

        transition: ease-in-out 0.5s;

        content: '';
        @apply bg-white dark:bg-black;
    }

    &.fade-in {
        transform: translateX(0);
        opacity: 1;
    }
}

#sidebar-toggle {
    top: 1rem;
    left: calc((14rem + 1.5rem) - 4rem);

    @media (min-width: 512px) {
        left: calc((2vw + 14rem + 1.5rem) - 4rem);
    }

    @media (min-width: 768px) {
        left: calc((3vw + 14rem + 2rem) - 4rem);
    }

    @media (min-width: 1024px) {
        left: calc((4vw + 14rem + 2.5rem) - 4rem);
    }

    @media (min-width: 1280px) {
        left: calc((5vw + 14rem + 3rem) - 4rem);
    }

    @media (min-width: 1536px) {
        left: calc((6vw + 14rem + 3.5rem) - 4rem);
    }

    @media (min-width: 1920px) {
        left: calc((50vw - (1680px / 2)) + 3.5rem + 14rem - 4rem);
    }

    .open {
        display: flex;
    }

    .close {
        display: none;
    }

    &.active {
        .open {
            display: none;
        }

        .close {
            display: flex;
        }
    }
}

#avatar {
    picture {
        border-width: 0.5rem;
    }
}
