@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 93.75%;

    @media (min-width: 512px) {
        font-size: 100%;
    }

    @media (min-width: 768px) {
        font-size: 106.25%;
    }

    @media (min-width: 1024px) {
        font-size: 112.5%;
    }

    @media (min-width: 1280px) {
        font-size: 118.75%;
    }

    @media (min-width: 1536px) {
        font-size: 125%;
    }

    &.debug-screens {
        &::before,
        &::after {
            @apply fixed left-0 z-50 px-2 py-1 font-sans text-xs leading-none text-white bg-black shadow-sm;
        }

        &::before {
            bottom: 0;
        }

        &::after {
            bottom: 1.3333333rem;

            content: 'light';
        }

        &.dark {
            &::after {
                content: 'dark';
            }
        }
    }

    &.nojs {
        & [id^='js'] {
            display: none !important;
        }
    }
}

.container {
    @media (min-width: 512px) {
        max-width: 94%;
    }

    @media (min-width: 1024px) {
        max-width: 88%;
    }

    @media (min-width: 1920px) {
        max-width: 1680px;
    }
}

[disabled] {
    opacity: 0.95;

    pointer-events: none;
}

.js {
    & #js-fade {
        transition: opacity 0.25s linear;
    }

    & .loading {
        opacity: 0;
    }

    & .loaded {
        opacity: 1;
    }
}

#site_header {
    left: 50%;

    transform: translate3d(-50%, 0, 0);

    &::before {
        left: -100vw;
        z-index: -1;

        width: 200vw;

        height: calc(4rem + 2px);
    }
}

body {
    &:after {
        background: linear-gradient(
            0deg,
            rgb(203, 213, 225) 0%,
            rgba(203, 213, 225, 0) 100%
        );

        pointer-events: none;
    }
}

.dark {
    & body {
        &:after {
            background: linear-gradient(
                0deg,
                rgb(51, 65, 85) 0%,
                rgba(51, 65, 85, 0) 100%
            );
        }
    }
}

#features {
    grid-template-columns: 3rem 1fr;

    & h3 {
        &::after {
            width: 10vw;
            max-width: 8rem;
        }
    }
}

#sidebar {
    transform: translate3d(-10vw, 0, 0);

    transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;

    will-change: transform, opacity;

    &.fade-in {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

#sidebar-toggle {
    @media (min-width: 512px) {
        left: calc((2vw + 14rem + 1.5rem) - 4rem);
    }

    @media (min-width: 768px) {
        left: calc((3vw + 14rem + 2rem) - 4rem);
    }

    @media (min-width: 1024px) {
        left: calc((4vw + 14rem + 2.5rem) - 4rem);
    }

    @media (min-width: 1280px) {
        left: calc((5vw + 14rem + 3rem) - 4rem);
    }

    @media (min-width: 1536px) {
        left: calc((6vw + 14rem + 3.5rem) - 4rem);
    }

    @media (min-width: 1920px) {
        left: calc((50vw - (1680px / 2)) + 3.5rem + 14rem - 4rem);
    }

    & .open {
        display: flex;
    }

    & .close {
        display: none;
    }

    &.active {
        & .open {
            display: none;
        }

        & .close {
            display: flex;
        }
    }
}

#avatar {
    & picture {
        border-width: 0.5rem;
    }
}

.is-login,
.is-register {
    & label {
        position: relative;

        & input:not([type='checkbox']) {
            & + span {
                position: absolute;

                top: 2rem;
                left: 0.5rem;
                z-index: 10;

                display: block;

                width: calc(100% - 1rem);

                padding: 0.25rem;

                font-size: 0.75rem;
                font-style: italic;

                background-color: rgba(255, 255, 255, 0.75);
                border-radius: 0.125rem;
                opacity: 0;

                transition: opacity 0.5s ease-in-out;
                transition-delay: 0.5s;

                pointer-events: none;
            }

            &::placeholder {
                opacity: 1;

                transition: opacity 0.5s ease-in-out;
            }

            &::-webkit-input-placeholder {
                opacity: 1;

                transition: opacity 0.5s ease-in-out;
            }

            &:-ms-input-placeholder {
                opacity: 1;

                transition: opacity 0.5s ease-in-out;
            }

            &:not(:placeholder-shown),
            &:focus {
                & + span {
                    opacity: 1;
                }
            }

            &:focus {
                &::placeholder {
                    opacity: 0;
                }

                &::-webkit-input-placeholder {
                    opacity: 0;
                }

                &:-ms-input-placeholder {
                    opacity: 0;
                }
            }

            &:not(:placeholder-shown) {
                &:not(:focus) {
                    &:valid {
                        border-color: rgba(22, 163, 74, 0.5);
                        box-shadow: 0 0 0 0.125rem rgba(22, 163, 74, 0.5);

                        & + span {
                            opacity: 0;
                        }
                    }

                    &:invalid {
                        border-color: rgb(220, 38, 38);
                        box-shadow: 0 0 0 0.125rem rgb(220, 38, 38);

                        & + span {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

#hero {
    background-image: url('/media/images/home/hero.jpg');
    background-position: center bottom;
    background-size: cover;
    background-blend-mode: luminosity;
}

#sidebar-wrapper {
    left: 50%;

    transform: translate3d(-50%, 0, 0);

    &::after {
        grid-column: span 1 / span 1;
        width: 100%;
        height: 100%;

        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.75),
            transparent
        );
        transform: translate3d(-10vw, 0, 0);
        opacity: 0;

        transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;

        pointer-events: none;

        @media (min-width: 512px) {
            content: '';
        }

        @media (min-width: 1024px) {
            grid-column: span 2 / span 1;
        }

        @media (min-width: 1280px) {
            grid-column: span 3 / span 1;
        }

        @media (min-width: 1536px) {
            grid-column: span 4 / span 1;
        }

        @media (min-width: 1920px) {
            grid-column: span 5 / span 1;
        }
    }

    & > nav {
        pointer-events: none;

        &.fade-in {
            pointer-events: all;

            &::after {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }
    }
}
