<section class="grid gap-6 p-6 mb-8 bg-gray-100 rounded-lg shadow auto-rows-auto" id="features">
    <h2 class="sr-only">Features</h2>
    <figure class="grid content-start row-span-2 p-2 bg-gray-600 rounded-lg">{{ '/src/_site/_includes/_icons/svg/hero/outline/video-camera.svg' | svgContents("stroke-current text-gray-100") | safe }}</figure>
    <h3 class="relative pt-2 pb-6 text-2xl font-bold text-gray-600 after:absolute after:empty-content after:bottom-0 after:block after:h-1 after:bg-gray-600 after:rounded after:left-0">Wir liefern dir Kultur</h3>
    <p class="col-start-2 pb-2">Egal ob Theater, Musik, Videospiele oder Performance-Kunst - wir haben das passende Kulturprogramm für dich.</p>
    <figure class="grid content-start row-span-2 p-2 bg-gray-700 rounded-lg">{{ '/src/_site/_includes/_icons/svg/hero/outline/device-mobile.svg' | svgContents("stroke-current text-gray-100") | safe }}</figure>
    <h3 class="relative pt-2 pb-6 text-2xl font-bold text-gray-700 after:absolute after:empty-content after:bottom-0 after:block after:h-1 after:bg-gray-700 after:rounded after:left-0">Am Computer, auf deinem Telefon, auf deinem Tablet.</h3>
    <p class="col-start-2 pb-2">Welches Gerät du zum Konsumieren benutzen willst ist vollkommen egal da die Plattform einfach via Browser aufgerufen wird.</p>
    <figure class="grid content-start row-span-2 p-2 bg-gray-800 rounded-lg">{{ '/src/_site/_includes/_icons/svg/hero/outline/user-add.svg' | svgContents("stroke-current text-gray-100") | safe }}</figure>
    <h3 class="relative pt-2 pb-6 text-2xl font-bold text-gray-800 after:absolute after:empty-content after:bottom-0 after:block after:h-1 after:bg-gray-800 after:rounded after:left-0">Folge deinen Künstlern, Kollektiven sowie Veranstaltungsorten.</h3>
    <p class="col-start-2 pb-2">Immer erfahren wenn dein lieblingskünstler ein neues Event plant? Überhaupt kein Problem.</p>
    <figure class="grid content-start row-span-2 p-2 bg-gray-900 rounded-lg">{{ '/src/_site/_includes/_icons/svg/hero/outline/cash.svg' | svgContents("stroke-current text-gray-100") | safe }}</figure>
    <h3 class="relative pt-2 pb-6 text-2xl font-bold text-gray-900 after:absolute after:empty-content after:bottom-0 after:block after:h-1 after:bg-gray-900 after:rounded after:left-0">Verdiene Geld als Künstler.</h3>
    <p class="col-start-2 pb-2">Werde Aktiv in unserer Community und lass dich für dein Werk bezahlen.</p>
</section>
