<section class="grid">
    <article>
        <header>
            <img>
            <h3>Username</h3>
        </header>
        <blockquote>Stage hat mir die Chance gegeben mit dem Geld zu verdienen was ich liebe. Ich kann meine Kunst öffentlich aufführen und werde dafür von den personen die es wirklich sehen wollen bezahlt.</blockquote>
    </article>
</section>
