<button id="js-colorscheme-toggle" class="flex items-center justify-center w-8 h-8 text-gray-900 transition-colors duration-500 bg-gray-300 rounded-full hover:bg-gray-200 dark:text-gray-300 dark:bg-gray-700 dark:hover:bg-gray-800 ">
    {{ '/src/_site/_includes/_icons/svg/hero/solid/moon.svg' | svgContents("flex w-5 h-5 dark:hidden fill-current") | safe }}
    {{ '/src/_site/_includes/_icons/svg/hero/solid/sun.svg' | svgContents("hidden w-5 h-5 dark:flex") | safe }}
</button>
