<figure class="text-primary-700 dark:text-primary-600 hover:text-neutral-700 dark:hover:text-neutral-400" x-bind:class="{ 'text-primary-700 dark:text-primary-600 hover:text-neutral-700 dark:hover:text-neutral-400': !atTop,  'text-white dark:text-black hover:text-neutral-400 dark:hover:text-neutral-700': atTop }">
    {{ '/src/_site/_includes/_icons/svg/logo.svg' | svgContents("h-8 fill-current duration-500 transition-colors") | safe }}
    <figcaption class="sr-only">Stage</figcaption>
</figure>
