<!DOCTYPE html>
<html class="nojs {% if node.env == 'development' %} debug-screens {% endif %} {% block class %}{% endblock class %}" {% if site.lang %} lang="{{ site.lang }}" {% endif %}>
    <head>
        {% include "_partials/html-head.njk" %}
    </head>

    <body id="js-fade" class="min-h-screen antialiased leading-normal transition-opacity duration-300 ease-linear text-neutral-900 bg-neutral-300 loading dark:text-neutral-300 dark:bg-neutral-700 after:fixed after:bottom-0 after:w-full after:h-16 after:z-10 after:empty-content" data-env="{{ node.env }}" x-data="{ showsidebar: false }">
        <script>
            document.getElementById("js-fade").classList.add("fade");
            window.addEventListener("load", function(event) {
                passive: true;
                document
                    .body
                    .classList
                    .remove("loading");
                document
                    .body
                    .classList
                    .add("loaded");
            });
        </script>

        {% block header %}
            {% include "_partials/site-header.njk" %}
        {% endblock %}

        {% block headlinewrapper %}
            <header id="headline" class="pt-16 -mb-16 shadow-xl h-80 bg-gradient-to-r from-primary-900 to-neutral-400">
                {% block Headline %}
                    <h1 class="sr-only">Explore</h1>
                {% endblock %}
            </header>
        {% endblock %}

        {% block contentwrapper %}
            <main class='container relative h-full pb-16 pl-4 pr-4 sm:pl-8 sm:pr-8' id="main-content">
                {% block sidebar %}
                    {% include "_partials/site-sidebar.njk" %}
                {% endblock %}

                {% block content %}
                    {{ content | safe }}
                {% endblock %}
            </main>
        {% endblock %}

        {% include "_partials/site-footer.njk" %}
    </body>
</html>
