<footer class='pt-4 mb-6 border-t-2 main-footer border-neutral-400'>
    <ul class="container flex flex-wrap pl-4 pr-4 sm:pl-6 sm:pr-6">
        <li class="p-1 mr-1 sm:p-2 sm:mr-0 text-shadow-xs"><a class="text-sm text-neutral-500 hover:text-neutral-600" href='#' title='Beliebte Sucheingaben'>Beliebte Sucheingaben</a></li>
        <li class="p-1 mr-1 sm:p-2 sm:mr-0 text-shadow-xs"><a class="text-sm text-neutral-500 hover:text-neutral-600" href='#' title='Verzeichnis'>Verzeichnis</a></li>
        <li class="p-1 mr-1 sm:p-2 sm:mr-0 text-shadow-xs"><a class="text-sm text-neutral-500 hover:text-neutral-600" href='#' title='Info zu uns'>Info zu uns</a></li>
        <li class="p-1 mr-1 sm:p-2 sm:mr-0 text-shadow-xs"><a class="text-sm text-neutral-500 hover:text-neutral-600" href='#' title='Ressourcen für Creator'>Ressourcen für Creator</a></li>
        <li class="p-1 mr-1 sm:p-2 sm:mr-0 text-shadow-xs"><a class="text-sm text-neutral-500 hover:text-neutral-600" href='#' title='Blog'>Blog</a></li>
        <li class="p-1 mr-1 sm:p-2 sm:mr-0 text-shadow-xs"><a class="text-sm text-neutral-500 hover:text-neutral-600" href='#' title='Jobs'>Jobs</a></li>
        <li class="p-1 mr-1 sm:p-2 sm:mr-0 text-shadow-xs"><a class="text-sm text-neutral-500 hover:text-neutral-600" href='#' title='Hilfe'>Hilfe</a></li>
        <li class="p-1 mr-1 sm:p-2 sm:mr-0 text-shadow-xs"><a class="text-sm text-neutral-500 hover:text-neutral-600" href='#' title='Rechtliches'>Rechtliches</a></li>
        <li class="p-1 mr-1 sm:p-2 sm:mr-0 text-shadow-xs"><a class="text-sm text-neutral-500 hover:text-neutral-600" href='#' title='Datenschutz'>Datenschutz</a></li>
        <li class="p-1 mr-1 sm:p-2 sm:mr-0 text-shadow-xs"><a class="text-sm text-neutral-500 hover:text-neutral-600" href='#' title='Impressum'>Impressum</a></li>
    </ul>
</footer>
