<header id="mainhead" class="container flex justify-between px-8 py-3 mb-8 bg-gray-100 dark:bg-gray-900">
    {% include "_icons/stage.njk" %}
    {% block nav %}
        {% include "_partials/site-navigation.njk" %}
    {% endblock %}
</header>
