<header id="site_header" class="container flex justify-between px-8 py-3 mb-4 sm:mb-8 bg-gray-100 dark:bg-gray-900">
    {% block logo %}
        <a href="/feed" class="flex items-center flex-shrink-0">
            {% include "_icons/stage.njk" %}
        </a>
    {% endblock %}

    {% block nav %}
        {% include "_partials/site-navigation.njk" %}
    {% endblock %}
</header>
