{% if item.url in page.url %}
    {% set current = 'aria-current="page" disabled="disabled' %}
{% else %}
    {% set current = '' %}
{% endif %}

<li>
    <a href="{{ item.url }}" class="flex px-4 rounded border
     py-2 min-w-16 w-full {{ item.classes }}" {{current}}>
        {{ item.text }}
    </a>
</li>
