{% block sidebar %}
    <aside id='sidebar' class='z-20 col-span-2 pr-8 opacity-0 before:bg-neutral-50 dark:before:bg-neutral-900 before:empty-content bg-neutral-50 dark:bg-neutral-900 sm:col-span-1 before:absolute before:transition-all before:block before:duration-500 before:ease-in-out before:w-screen before:h-full before:right-full' :class="{ 'fade-in': showsidebar }">
        <header class='flex flex-col content-center h-64 pt-8 text-center jus tify-center'>
            <figure class="flex items-center justify-center w-32 h-32 mx-auto mb-4 transition-colors duration-500 rounded-full bg-gradient-to-bl from-primary-700 to-primary-900 hover:bg-neutral-200 dark:text-neutral-300 dark:bg-neutral-700 dark:hover:bg-neutral-800" id='avatar'>
                <picture class='flex items-center justify-center overflow-hidden border border-white rounded-full w-28 h-28'>
                    <img src="/media/images/userplaceholder.jpg" alt="ThisIsAnExtraLongUserName" aria-hidden="true" class="object-cover min-w-full min-h-full max-w-7xl ">
                </picture>
            </figure>
            <span class='text-lg'>Welcome</span>
            <strong class='text-lg font-bold'>ExtraLongUserName</strong>
        </header>
        <hr>
        <ul>
            <li></li>
        </ul>
        <hr>
        <a href='/'>
            <figure></figure>
            <span>logout</span>
        </a>
    </aside>
{% endblock %}
