<footer class='main-footer'>
    <ul>
        <li><a href='#' title='Beliebte Sucheingaben'>Beliebte Sucheingaben</a></li>
        <li><a href='#' title='Verzeichnis'>Verzeichnis</a></li>
        <li><a href='#' title='Info zu uns'>Info zu uns</a></li>
        <li><a href='#' title='Ressourcen für Creator'>Ressourcen für Creator</a></li>
        <li><a href='#' title='Blog'>Blog</a></li>
        <li><a href='#' title='Jobs'>Jobs</a></li>
        <li><a href='#' title='Hilfe'>Hilfe</a></li>
        <li><a href='#' title='Rechtliches'>Rechtliches</a></li>
        <li><a href='#' title='Datenschutz'>Datenschutz</a></li>
        <li><a href='#' title='Impressum'>Impressum</a></li>
    </ul>
</footer>
