<script>
    window.addEventListener("load", function (event) {
        document
            .body
            .classList
            .remove('loading');
        document
            .body
            .classList
            .add('loaded');
    });
</script>
