{% extends "./../page.njk" %}

{% block header %}
    {% include "_partials/site-header-anon.njk" %}
{% endblock %}

{% block class %}
    {{ super() }}
    is-home
{% endblock class %}

{% block sidebar %}
{% endblock %}

{% block content %}
    {% include "./_index/hero.njk" %}
    {% include "./_index/features.njk" %}
{% endblock %}
